@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v49-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v49-latin-900.woff2") format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #333333;
}

.containers {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 11px;
}

.site-header {
  padding: 26px 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.header__logo-link {
  display: inline-block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 83px;
}

.navbar__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}
.navbar__link:hover {
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  border-bottom-color: #FEFEFE;
}

.header__btn {
  background-color: transparent;
  border: none;
}

.header__burger-btn {
  display: none;
  background-color: transparent;
  border: none;
}

@media (max-width: 755px) {
  .navbar {
    display: none;
  }
  .header__burger-btn {
    display: block;
  }
  .header__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 34px;
  }
}
.hero-section {
  background-image: url("../images/image/hero-bg.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero {
  padding-top: 206px;
}

.hero__content-wrapper {
  width: 793px;
}

.hero__title {
  font-weight: 900;
  font-size: 89px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 36px;
  transition: all 0.3s;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  padding: 12px 39px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #49D6DF;
  transition: all 0.3s;
  cursor: pointer;
}
.hero__btn:hover {
  background-color: #FEFEFE;
  color: #49D6DF;
  border-color: #49D6DF;
}

.hero__btn > svg:hover {
  fill: #49D6DF;
}

.hero__social-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  right: 54px;
  bottom: 47px;
}

@media (max-width: 880px) {
  .hero {
    padding-top: 122px;
  }
  .hero__content-wrapper {
    width: 599px;
  }
  .hero__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FEFEFE;
    margin-bottom: 30px;
    transition: all 0.3s;
  }
}
@media (max-width: 620px) {
  .hero {
    padding-top: 92px;
  }
  .hero__content-wrapper {
    width: 300px;
  }
  .hero__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FEFEFE;
    margin-bottom: 15px;
    transition: all 0.3s;
  }
  .hero__social-wrapper {
    display: none;
  }
}
.about-section {
  padding: 100px 0 179px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.about__content-wrapper {
  width: 790px;
}

.about__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 30px;
  transition: all 0.3s;
}

.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #F2F2F2;
  margin-bottom: 30px;
  transition: all 0.3s;
}

.about__image {
  background-image: url(../images/image/about-img.webp);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 323px;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 30px;
}

.about__btn {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  padding: 12px 39px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #49D6DF;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0 auto;
}
.about__btn:hover {
  background-color: #FEFEFE;
  color: #49D6DF;
  border-color: #49D6DF;
}

.about__btn > svg:hover {
  fill: #49D6DF;
}

@media (max-width: 750px) {
  .about__content-wrapper {
    width: 100%;
  }
  .about__image {
    background-position: left center;
  }
}
.info-section {
  padding: 100px 0;
  background-color: #4F4F4F;
}

.info__list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 30px;
}

.info__item {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
  flex-direction: column;
}

.info__item-img {
  margin-bottom: 15px;
}

.info__item-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 15px;
  transition: all 0.3s;
}

.info__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 15px;
  transition: all 0.3s;
}

@media (max-width: 800px) {
  .info__list {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
@media (max-width: 450px) {
  .info__item {
    width: 100%;
  }
}
.pets-section {
  padding: 100px 0 139px;
}

.pets {
  text-align: center;
}

.pets__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 32px;
  transition: all 0.3s;
}

.pets__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 70px;
}

.pets__btn {
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  padding: 18px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #49D6DF;
  transition: all 0.3s;
  cursor: pointer;
}
.pets__btn:hover {
  background-color: #FEFEFE;
  color: #49D6DF;
  border-color: #49D6DF;
}

@media (max-width: 990px) {
  .pets__arrow, .pets__aligator {
    display: none;
  }
}
@media (max-width: 700px) {
  .pets__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FEFEFE;
    margin-bottom: 30px;
    transition: all 0.3s;
  }
  .pets__monkey, .pets__eagle {
    display: none;
  }
}
.section-money {
  padding: 100px 0;
  background-color: #4F4F4F;
}

.money {
  text-align: center;
}

.money__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 30px;
  transition: all 0.3s;
}

.money__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 50px;
  transition: all 0.3s;
}

.money__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-bottom: 60px;
}

.money__bottom-arrow {
  display: none;
}

.money__btn {
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  padding: 18px 88px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #49D6DF;
  transition: all 0.3s;
  cursor: pointer;
}
.money__btn:hover {
  background-color: #FEFEFE;
  color: #49D6DF;
  border-color: #49D6DF;
}

@media (max-width: 1024px) {
  .money__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    flex-direction: column;
  }
  .money__right-arrow {
    display: none;
  }
  .money__bottom-arrow {
    display: block;
  }
}
@media (max-width: 748px) {
  .money__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FEFEFE;
    margin-bottom: 30px;
    transition: all 0.3s;
  }
  .money__text {
    display: none;
  }
  .money__content-wrapper {
    margin-bottom: 50px;
  }
}
.feedback-section {
  padding: 100px 159px;
}

.feedback {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
  flex-direction: column;
}

.feedback__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 50px;
  transition: all 0.3s;
}

.feedback__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 18px;
  margin-bottom: 69px;
}

.feedback__item {
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
  flex-direction: column;
  padding: 48px 58px 89px 56px;
  background-color: #3C3C3C;
  border-radius: 5px;
  box-shadow: 2px 4px 15px 0px rgba(6, 12, 70, 0.1019607843);
}

.feedback__item-img {
  margin-bottom: 17px;
}

.feedback__item-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 17px;
  transition: all 0.3s;
}

.feedback__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 17px;
  transition: all 0.3s;
}

.feedback__btn {
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #FEFEFE;
  margin-bottom: 0px;
  transition: all 0.3s;
  padding: 18px 50px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #49D6DF;
  transition: all 0.3s;
  cursor: pointer;
}
.feedback__btn:hover {
  background-color: #FEFEFE;
  color: #49D6DF;
  border-color: #49D6DF;
}

@media (max-width: 907px) {
  .feedback__item:first-child {
    width: 100%;
  }
  .feedback__item:nth-child(2) {
    display: none;
  }
}
@media (max-width: 620px) {
  .feedback__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FEFEFE;
    margin-bottom: 25px;
    transition: all 0.3s;
  }
  .feedback__item:first-child {
    width: 300px;
  }
  .feedback__item-title {
    font-weight: 900;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FEFEFE;
    margin-bottom: 17px;
    transition: all 0.3s;
  }
}
.map-section {
  padding: 100px 0;
  background-color: #4F4F4F;
}

.map {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}

.map__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 60px;
  transition: all 0.3s;
}

.wrapper {
  position: absolute;
  background-color: #333333;
  bottom: 260px;
  left: 230px;
  padding: 40px 55px 44px 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.wrapper__content {
  text-align: left;
}

.wrapper__content-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 7px;
  transition: all 0.3s;
}

.wrapper__content-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FEFEFE;
  margin-bottom: 7px;
  transition: all 0.3s;
}

@media (max-width: 900px) {
  .wrapper {
    left: 5%;
    bottom: 20%;
  }
  .map > img {
    width: 300px;
  }
}
@media (max-width: 800px) {
  .map__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FEFEFE;
    margin-bottom: 30px;
    transition: all 0.3s;
  }
}/*# sourceMappingURL=main.css.map */