*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: $clr-bg;
}

.containers {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 11px;
}