@mixin Display($items, $justify, $gap){
    display: flex;
    align-items: $items;
    justify-content: $justify;
    gap: $gap;
}

@mixin TetxStyle($FW, $FS, $LH, $LS, $CLR, $MB, $HCLR) {
    font-weight: $FW;
    font-size: $FS;
    line-height: $LH;
    letter-spacing: $LS;
    color: $CLR;
    margin-bottom: $MB;
    transition: all 0.3s;

    &:hover{
        color: $HCLR;
    }
}

@mixin BtnStyle($P, $BC) {
    @include TetxStyle($FW:900, $FS:18px, $LH:100%, $LS:0px, $CLR:$clr-white, $MB:0px, $HCLR:$BC);
    padding: $P;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: $BC;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $clr-white;
        color: $BC;
        border-color: $BC;
    }
}