@import "./fonts";
@import "./variables";
@import "./generals";
@import "./mixin";
@import "./modules/header";
@import "./modules/hero";
@import "./modules/about";
@import "./modules/info";
@import "./modules/pets";
@import "./modules/money";
@import "./modules/feedback";