.about-section {
    padding: 100px 0 179px;
}
.about {
    @include Display($items:center, $justify:center, $gap:0px);
}
.about__content-wrapper {
    width: 790px;
}
.about__title {
    @include TetxStyle($FW:900, $FS:48px, $LH:100%, $LS:0%, $CLR:$clr-white, $MB:30px);
}
.about__text {
    @include TetxStyle($FW:400, $FS:14px, $LH:100%, $LS:0%, $CLR:$clr-text, $MB:30px);
}
.about__image {
    background-image: url(../images/image/about-img.webp);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 323px;
    background-size: cover;
    border-radius:5px;
    margin-bottom: 30px;
}
.about__btn {
    @include Display($items:center, $justify:start, $gap:5px);
    @include TetxStyle($FW:900, $FS:18px, $LH:100%, $LS:0%, $CLR:$clr-white, $MB:0px);
    @include BtnStyle($P:12px 39px, $BC:$clr-blue);
    margin: 0 auto;
}

.about__btn > svg {
    &:hover {
        fill: $clr-blue;
    }
}

@media (max-width:750px) {
    .about__content-wrapper {
        width: 100%;
    }

    .about__image {
        background-position: left center;
    }
}