.hero-section {
    background-image: url("../images/image/hero-bg.webp");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;

}

.hero {
    padding-top: 206px;
}
.hero__content-wrapper {
    width: 793px;
}
.hero__title {
    @include TetxStyle($FW:900, $FS:89px, $LH:100%, $LS:0%, $CLR:$clr-white, $MB:36px);
}
.hero__btn {
    @include Display($items:center, $justify:start, $gap:5px);
    @include TetxStyle($FW:900, $FS:18px, $LH:100%, $LS:0%, $CLR:$clr-white, $MB:0px);
    @include BtnStyle($P:12px 39px, $BC:$clr-blue);
}
.hero__btn > svg {
    &:hover {
        fill: $clr-blue;
    }
}
.hero__social-wrapper {
    @include Display($items:center, $justify:start, $gap:10px);
    flex-direction: column;
    position: absolute;
    right: 54px;
    bottom: 47px;
}

@media (max-width: 880px) {
    .hero {
        padding-top: 122px;
    }
    .hero__content-wrapper {
        width: 599px;
    }
    .hero__title {
        @include TetxStyle($FW:900, $FS:64px, $LH:100%, $LS:0%, $CLR:$clr-white, $MB:30px);
    }
}

@media (max-width: 620px) {
    .hero {
        padding-top: 92px;
    }
    .hero__content-wrapper {
        width: 300px;
    }
    .hero__title {
        @include TetxStyle($FW:900, $FS:48px, $LH:100%, $LS:0%, $CLR:$clr-white, $MB:15px);
    }
    .hero__social-wrapper {
        display: none;
    }
}