.info-section {
    padding: 100px 0;
    background-color: $clr-info;
}
.info__list {
    @include Display($items:start, $justify:start, $gap:30px);
}
.info__item {
    width: 380px;
    @include Display($items:center, $justify:start, $gap:0px);
    flex-direction: column;
}
.info__item-img {
    margin-bottom: 15px;
}
.info__item-title {
    @include TetxStyle($FW:900, $FS:20px, $LH:100%, $LS:0%, $CLR:$clr-white, $MB:15px);
}
.info__item-text {
    @include TetxStyle($FW:400, $FS:14px, $LH:100%, $LS:0%, $CLR:$clr-white, $MB:15px);
}

@media (max-width:800px) {
    .info__list {
        flex-direction: column;
        @include Display($items:center, $justify:center, $gap:50px);
    }
}

@media (max-width:450px) {
    .info__item {
        width: 100%;
    }
}