.pets-section {
    padding: 100px 0 139px;
}

.pets {
    text-align: center;
}
.pets__title {
    @include TetxStyle($FW:900, $FS:48px, $LH:100%, $LS:0%, $CLR:$clr-white, $MB:32px);
}
.pets__img-wrapper {
    @include Display($items:center, $justify:center, $gap:20px);
    margin-bottom: 70px;
}
.pets__btn {
    @include TetxStyle($FW:900, $FS:18px, $LH:100%, $LS:0%, $CLR:$clr-white, $MB:0px);
    @include BtnStyle($P:18px, $BC:$clr-blue);
}

@media (max-width:990px) {
    .pets__arrow, .pets__aligator {
        display: none;
    } 
}

@media (max-width:700px) {
    .pets__monkey, .pets__eagle {
        display: none;
    } 
}